# Verification API

<!-- btpc-python-api: btpc.verification -->
